@import "../styles/tokens.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    color-scheme: light;
  }

  .dark {
    color-scheme: dark;
  }
  
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}
